* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #6d6d6d;
    font-family: Helvetica, Arial, sans-serif;
}

#form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

#form {
    padding: 50px;
    width: 666px;
    background-color: #bbbbbb;
}

#source {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background-color: #bbbbbb;
}

label {
    font-size: 12px;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #dfdfdf;
    border-radius: 10px;
}

input[type=text]:focus {
    background-color: #ffffff;
    outline: none;
}

input[type=submit] {
  background-color: #dac50b;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#click-me-small-text {
    position: relative;
    left: -50px;
    top: -15px;
    font-size: 9px;
}